  
<!-- Publications Section -->
<section id="publications" class="container ">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Publications 📰</h2>
                    <div class="lead"><p>QBI’s journal publications and conference proceedings </p>
</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/publications.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="row">
        <div class="col-lg-12 col-lg">
            <br/>
            Ismail TF, Strugnell W, Coletti C, <em>et al</em>. Cardiac MR: From Theory to Practice <em>Front Cardiovasc Med</em> 9, 826283 (2022). <a href="https://doi.org/10.3389/fcvm.2022.826283">https://doi.org/10.3389/fcvm.2022.826283</a></p>
            
            Tourais J, Scannell C, Schneider T <em>et al</em>. High-Resolution Free-Breathing Quantitative First-Pass Perfusion Cardiac MR Using Dual-Echo Dixon With Spatio-Temporal Acceleration <em>Front Cardiovasc Med</em> 9, 884221 (2022). <a href="https://doi.org/10.3389/fcvm.2022.884221">https://doi.org/10.3389/fcvm.2022.884221</a></p>
            
            Lalande A, Chen Z, Pommier T <em>et al</em>. Deep learning methods for automatic evaluation of delayed enhancement-MRI. The results of the EMIDEC challenge <em>Med Image Anal</em> 79, 102428 (2022). <a href="https://doi.org/10.1016/j.media.2022.102428">https://doi.org/10.1016/j.media.2022.102428</a></p>
       
            E Martín-González, E Alskaf, A Chiribiri, P Casaseca-de-la-Higuera, C Alberola-López, R Nunes, T Correia. Physics-Informed Self-supervised Deep Learning Reconstruction for Accelerated First-Pass Perfusion Cardiac MRI. In: Haq N., Johnson P., Maier A., Würfl T., Yoo J. (eds) Machine Learning for Medical Image Reconstruction. MLMIR 2021. Lecture Notes in Computer Science, vol 12964. Springer, Cham. <a href="https://doi.org/10.1007/978-3-030-88552-6_9">https://doi.org/10.1007/978-3-030-88552-6_9</a> </p> 

            A Lourenço, E Kerfoot, I Grigorescu, C Scannell, M Varela<sup>†</sup>, T Correia<sup>†</sup>. Automatic Myocardial Disease Prediction from Delayed-Enhancement Cardiac MRI and Clinical Information. In: Puyol Anton E. <em>et al</em>. (eds) Statistical Atlases and Computational Models of the Heart. M&Ms and EMIDEC Challenges. STACOM 2020. <em>Lecture Notes in Computer Science</em>, vol 12592. Springer (2021). <a href="https://doi.org/10.1007/978-3-030-68107-4_34">https://doi.org/10.1007/978-3-030-68107-4_34</a> OR <a href="https://arxiv.org/abs/2010.08469">arXiv:2010.08469 </a>(<u>2nd place</u> in the live classification challenge). </p> 
            
            A Lourenço, E Kerfoot, C Dibblin, E Alskaf, M Anjari, A Bharath, A King, H Chubb, M Varela<sup>†</sup>, T Correia<sup>†</sup>.  Left Atrial Ejection Fraction Estimation Using SEGANet for Fully Automated Segmentation of CINE MRI. In: Puyol Anton E. <em>et al</em>. (eds) Statistical Atlases and Computational Models of the Heart. M&Ms and EMIDEC Challenges. STACOM 2020. <em>Lecture Notes in Computer Science</em>, vol 12592. Springer (2021). <a href="https://doi.org/10.1007/978-3-030-68107-4_14">https://doi.org/10.1007/978-3-030-68107-4_14 </a> OR <a href="https://arxiv.org/abs/2008.13718 ">arXiv:2008.13718  </a> </p>             
            
            T Correia, G Ginami, I Rashid, G Nordio, R Hajhosseiny, T Ismail, R Neji, R Botnar, C Prieto. Accelerated high-resolution free-breathing 3D whole-heart T2-prepared black-blood and bright-blood cardiovascular magnetic resonance. <em>J Cardiovasc Magn Reson</em> 22, 88 (2020). <a href="https://doi.org/10.1186/s12968-020-00691-3">https://doi.org/10.1186/s12968-020-00691-3 </a></p>
            
            A Bustin, I Rashid, Cruz, R Hajhosseiny, T Correia, R Neji, R Rajani, T Ismail, R Botnar, C Prieto. 3D whole-heart isotropic sub-millimeter resolution coronary magnetic resonance angiography with non-rigid motion-compensated PROST. <em>J Cardiovasc Magn Reson</em> 22, 24 (2020). <a href="https://doi.org/10.1186/s12968-020-00611-5">https://doi.org/10.1186/s12968-020-00611-5</a></p>
            
            C Scannell, T Correia, A Villa, T Schneider, J Lee, M Breeuwer, A Chiribiri, M Henningsson. Feasibility of free-breathing quantitative myocardial perfusion using multi-echo Dixon magnetic resonance imaging. <em>Sci Rep</em> 10, 12684 (2020). <a href="https://doi.org/10.1038/s41598-020-69747-9">https://doi.org/10.1038/s41598-020-69747-9</a></p>
                            
            G Nordio, T Schneider, G Cruz, T Correia, A Bustin, C Prieto, R Botnar, M Henningsson. Whole‐heart T1 mapping using a 2D fat image navigator for respiratory motion compensation. <em>Magn Reson Med</em>; 83: 178– 187 (2020). <a href="https://doi.org/10.1002/mrm.27919">https://doi.org/10.1002/mrm.27919</a></p>
            
            VM Velasco Forte, I Valverde, N Prabhu, T Correia, S Narayan, A Bell, S Mathur, R Razavi, T Hussain, K Pushparajah, M Henningsson. Visualization of coronary arteries in paediatric patients using whole-heart coronary magnetic resonance angiography: comparison of image-navigation and the standard approach for respiratory motion compensation. <em>J Cardiovasc Magn Reson</em> 21, 13 (2019). <a href="https://doi.org/10.1186/s12968-019-0525-8">https://doi.org/10.1186/s12968-019-0525-8</a></p>
            
            T Correia, T Schneider, A Chiribiri. A Model-Based Reconstruction for Highly Accelerated First-Pass Perfusion Cardiac MRI. In: Shen D. <em>et al</em>. (eds) Medical Image Computing and Computer Assisted Intervention – MICCAI 2019. MICCAI 2019. <em>Lecture Notes in Computer Science</em>, vol 11765. Springer (2019). <a href="https://doi.org/10.1007/978-3-030-32245-8_57">https://doi.org/10.1007/978-3-030-32245-8_57</a></p>
            
            A Bustin, G Ginami G, G Cruz, T Correia, T Ismail, I Rashid, R Neji, R Botnar, C Prieto. Five‐minute whole‐heart coronary MRA with sub‐millimeter isotropic resolution, 100% respiratory scan efficiency, and 3D‐PROST reconstruction. <em>Magn Reson Med</em> 81: 102– 115 (2018). <a href="https://doi.org/10.1002/mrm.27354">https://doi.org/10.1002/mrm.27354</a></p>
            
            T Correia, G Ginami, G Cruz, R, Neji, I Rashid, R Botnar, C Prieto. Optimized respiratory‐resolved motion‐compensated 3D Cartesian coronary MR angiography. <em>Magn Reson Med</em> 80: 2618– 2629 (2018). <a href="https://doi.org/10.1002/mrm.27208">https://doi.org/10.1002/mrm.27208</a></p>
            
            S Davis, L Wisniewski, S Kumar, T Correia, S Arridge, P Frankel, J McGinty, P French. Slice-illuminated optical projection tomography. <em>Opt Lett</em> 43, 5555-5558 (2018). <a href="https://doi.org/10.1364/OL.43.005555">https://doi.org/10.1364/OL.43.005555</a></p>
            
            T Correia, G Cruz, T Schneider, R Botnar, C Prieto. Accelerated nonrigid motion‐compensated isotropic 3D coronary MR angiography. <em>Med Phys</em> 45: 214-222 (2018). <a href="https://doi.org/10.1002/mp.12663">https://doi.org/10.1002/mp.12663</a></p>
            
            N Ducros, T Correia, A Bassi, G Valentini, S Arridge, C D'Andrea. Reconstruction of an optical inhomogeneity map improves fluorescence diffuse optical tomography. <em>Biomedical Physics & Engineering Express</em> 2(5): 055020 (2016). <a href="https://doi.org/10.1088/2057-1976/2/5/055020">https://doi.org/10.1088/2057-1976/2/5/055020</a></p>
            
            S Kumar<sup>†</sup>,   N Lockwood<sup>†</sup>, M Ramel, T Correia, M Ellis, Y Alexandrov, N Andrews, R Patel, L Bugeon, M Dallman, S Brandner, S Arridge, M Katan, J McGinty, P Frankel, P French. Quantitative in vivo optical tomography of cancer progression & vasculature development in adult zebrafish. <em>Oncotarget</em> 7: 43939-43948 (2016). <a href="https://doi.org/10.18632/oncotarget.9756">https://doi.org/10.18632/oncotarget.9756</a></p>
            
            T Correia, M Koch, A Ale, V Ntziachristos, S Arridge. Patch-based anisotropic diffusion scheme for fluorescence diffuse optical tomography—part 2: image reconstruction. <em>Physics in Medicine and Biology</em> 61(4): 1439-1451 (2016). <a href="https://doi.org/10.1088/0031-9155/61/4/1452">https://doi.org/10.1088/0031-9155/61/4/1452</a></p>
            
            T Correia T, S Arridge. Patch-based anisotropic diffusion scheme for fluorescence diffuse optical tomography—part 1: technical principles. <em>Physics in Medicine and Biology</em> 61(4): 1452-1475 (2016). <a href="https://doi.org/10.1088/0031-9155/61/4/1439">https://doi.org/10.1088/0031-9155/61/4/1439</a></p>
            
            T Correia, N Lockwood, S Kumar, J Yin, M Ramel, N Andrews, M Katan, L Bugeon, M J Dallman, J McGinty, P Frankel, P French, Simon Arridge. Accelerated Optical Projection Tomography Applied to In Vivo Imaging of Zebrafish. <em>PLOS ONE</em> 10(8): e0136213 (2015). <a href="https://doi.org/10.1371/journal.pone.0136213">https://doi.org/10.1371/journal.pone.0136213</a></p>
            
            L Dempsey, R Cooper, T Roque, T Correia, E Magee, S Powell, A Gibson, J Hebden. Data-driven approach to optimum wavelength selection for diffuse optical imaging. <em>J Biomed Opt</em> 20(1) 016003 (2015). <a href="https://doi.org/10.1117/1.JBO.20.1.016003">https://doi.org/10.1117/1.JBO.20.1.016003</a></p>
            
            V Soloviev, T Correia, S Arridge. Fluorescence lifetime measurements in turbid media. in Fluorescence Lifetime Spectroscopy and Imaging for tissue biomedical diagnostics, ed. by L Marcu, P French, D Elson, 283-322, CRC Press (2014). <a href="https://doi.org/10.1201/b17018">https://doi.org/10.1201/b17018</a></p>
            
            T Correia, T Rudge, M Koch, V Ntziachristos, S Arridge. Wavelet-based data and solution compression for efficient image reconstruction in fluorescence diffuse optical tomography. <em>J Biomed Opt</em> 18(8) 086008 (2013). <a href="https://doi.org/10.1117/1.JBO.18.8.086008">https://doi.org/10.1117/1.JBO.18.8.086008</a></p>
            
            J Chamorro-Servent, J F P-J Abascal, J Aguirre, S Arridge, T Correia, J Ripoll, M Desco, J J Vaquero. Use of Split Bregman denoising for iterative reconstruction in fluorescence diffuse optical tomography. <em>J Biomed Opt</em> 18(7) 076016 (2013). <a href="https://doi.org/10.1117/1.JBO.18.7.076016">https://doi.org/10.1117/1.JBO.18.7.076016</a></p>
            
            T Correia, N Ducros, C D’Andrea, M Schweiger, S Arridge. Quantitative fluorescence diffuse optical tomography in the presence of heterogeneities.<em>Opt Lett</em> 38, 1903-1905 (2013). <a href="https://doi.org/10.1364/OL.38.001903">https://doi.org/10.1364/OL.38.001903</a></p>

            <p> V Soloviev, G Zacharakis, G Spiliopoulos, R Favicchio, T Correia, S Arridge, J Ripoll. Tomographic imaging with polarized light.&nbsp;<em>J. Opt. Soc. Am. A</em>&nbsp;<strong>29</strong>, 980-988 (2012). <a href="https://doi.org/10.1364/JOSAA.29.000980">https://doi.org/10.1364/JOSAA.29.000980</a></p>
            
            <p> T Correia, S Lloyd-Fox, N Everdell, A Blasi, C Elwell, J Hebden A Gibson. Three-dimensional optical topography of brain activity in infants watching videos of human movement.&nbsp;<em>Physics in Medicine and Biology</em> 57(5): 1135-1146 (2012). <a href="https://doi.org/10.1088/0031-9155/57/5/1135">&nbsp;https://doi.org/10.1088/0031-9155/57/5/1135</a></p>
            
            <p> J F P-J Abascal, J Chamorro-Servent, J Aguirre, S Arridge, T Correia, J Ripoll, J J Vaquero, M Desco. Fluorescence diffuse optical tomography using the split Bregman method. <em>Med. Phys.</em>, 38: 6275-6284 (2011). <a href="https://doi.org/10.1118/1.3656063">https://doi.org/10.1118/1.3656063</a></p>
            
            <p> T Correia, J Aguirre, A Sisniega, J Chamorro-Servent, J Abascal, J J. Vaquero, M Desco, V Kolehmainen, S Arridge. Split operator method for fluorescence diffuse optical tomography using anisotropic diffusion regularisation with prior anatomical information.&nbsp;<em>Biomed. Opt. Express</em>&nbsp;<strong>2</strong>, 2632-2648 (2011). <a href="https://doi.org/10.1364/BOE.2.002632">https://doi.org/10.1364/BOE.2.002632</a></p>
            
            <p> T Correia, A Gibson, J Hebden. Identification of the optimal wavelengths for optical topography: a photon measurement density function analysis.&nbsp;<em>J. Biomed. Opt.</em> 15(5) 056002 (2010). <a href="https://doi.org/10.1117/1.3484747">&nbsp;https://doi.org/10.1117/1.3484747</a></p>
            
            <p> T Correia, A Banga, N L Everdell, A P Gibson, J C Hebden. A quantitative assessment of the depth sensitivity of an optical topography system using a solid dynamic tissue-phantom.&nbsp;<em>Physics in Medicine and Biology</em> 54(20): 6277-6286 (2009). &nbsp;<a href="https://doi.org/10.1088/0031-9155/54/20/016">https://doi.org/10.1088/0031-9155/54/20/016</a></p>
            
            <p> T Correia, A Gibson, M Schweiger, J Hebden. Selection of regularization parameter for optical topography.&nbsp;<em>J. Biomed. Opt</em>. 14(3) 034044 (2009).<a href="https://doi.org/10.1117/1.3156839">&nbsp;https://doi.org/10.1117/1.3156839</a></p>
                            
            <p> J C Hebden, T Correia, I Khakoo, A P Gibson, N L Everdell.</em>&nbsp;A dynamic optical imaging phantom based on an array of semiconductor diodes.&nbsp;<em>Physics in Medicine and Biology </em>53(21): N407-N413 (2008).&nbsp;<a href="https://doi.org/10.1088/0031-9155/53/21/N01">https://doi.org/10.1088/0031-9155/53/21/N01</a></p>
                            
            <p> J C Hebden, J Brunker, T Correia, B D Price, A P Gibson, N L Everdell. An electrically-activated dynamic tissue-equivalent phantom for assessment of diffuse optical imaging systems.&nbsp;<em>Physics in Medicine and Biology</em> 53(2): 329-337 (2007).&nbsp;<a href="https://doi.org/10.1088/0031-9155/53/2/002">https://doi.org/10.1088/0031-9155/53/2/002</a></p>
                
            <br/>
          </div>
    </div>

    <h4>Conference Proceedings</h4>
    <div class="row">
        <div class="col-lg-12 col-lg">
            <br/>
            <p> T Correia, T Schneider, A Chiribiri. The key to extremely accelerated model-based quantitative first-pass perfusion cardiac MRI. 29th ISMRM meeting, 508 (2021). <a href="https://cds.ismrm.org/protected/21MPresentations/abstracts/0508.html">ismrm21_508</a> (ismrm members only)</p> 
            
            <p> C Scannell, T Schneider, E Alskaf, F Bosio, J Tourais, J Sanchez-Gonzalez, M Doneva, C Schuelke, J Meineke, J Keupp, J Smink, M Breeuwer, A Chiribiri, M Henningsson, T Correia. Free-Breathing High-Resolution Quantitative First-Pass Perfusion Cardiac MR using Dual-Echo Dixon. 29th ISMRM meeting, 992 (2021). <a href="https://cds.ismrm.org/protected/21MPresentations/abstracts/0992.html">ismrm21_992</a> (ismrm members only)</p> </p>
            
            <p> T Correia, T Schneider, A Chiribiri. The key to an efficient model-based reconstruction of extremely accelerated first-pass perfusion CMR. 24th SCMR meeting (2021).</p>                    
            
            <p> M Varela, M Anjari, T Correia, R Zakeri, E Alskaf, A Chiribiri, J Lee. High-resolution CINE MRI allows estimation of 3D regional atrial strains. <em>European Heart Journal</em>, Volume 41, Issue Supplement_2, ehaa946.0244 (2020). <a href="https://doi.org/10.1093/ehjci/ehaa946.0244">https://doi.org/10.1093/ehjci/ehaa946.0244</a> </p>
            
            <p> A Lourenco, E Kerfoot, C Dibblin, H Chubb, A Bharath, M Varela†, T Correia†. Automatic estimation of left atrial function from short axis CINE-MRI using machine learning. <em>European Heart Journal</em>, Volume 41, Issue Supplement_2, ehaa946.0229 (2020). <a href="https://doi.org/10.1093/ehjci/ehaa946.0229">https://doi.org/10.1093/ehjci/ehaa946.0229</a> </p>
            
            <p> J Tourais, T Schneider, C Scannell, R Franks, J Sanchez-Gonzalez, M Doneva, C Schuelke, J Meineke, J Keupp, J Smink, M Breeuwer, A Chiribiri, M Henningsson, T Correia. High-Resolution Free-Breathing Quantitative Myocardial Perfusion MRI Using Multi-Echo Dixon. 28th ISMRM meeting, 1315 (2020). <a href="https://cds.ismrm.org/protected/20MPresentations/abstracts/1315.html">ismrm20_1315</a> (ismrm members only)</p>
            
            <p> T Correia, T Schneider, A Chiribiri. Model-based quantitative mapping for highly accelerated ﬁrst-pass perfusion cardiac MRI. 28th ISMRM meeting, 1017 (2020). <a href="https://cds.ismrm.org/protected/20MPresentations/abstracts/1017.html">ismrm20_1017</a> (ismrm members only)</p>
            
            <p> T Correia, T Schneider, A Chiribiri. Direct parametric reconstruction for highly accelerated first-pass myocardial perfusion MR imaging. 23rd SCMR meeting, 745181 (2020). <a href="https://drive.google.com/file/d/1Urlg2rTVssxGeIHmBTgoZB1diL_jf6qG/view">download conference proceedings</a> (large file) </p>

            <p> M Varela, S Queiros, M Anjari, T Correia, A King, A Bharath, J Lee. Strain maps of the left atrium imaged with a novel high-resolution CINE MRI protocol. 42nd Annual International Conferences of the IEEE Engineering in Medicine and Biology Society: Enabling Innovative Technologies for Global Healthcare, EMBC 2020. 1178-1181 (2020). <a href="https://ieeexplore.ieee.org/document/9175383">doi: 10.1109/EMBC44109.2020.9175383.</a></p>

            <p> J Tourais, T Schneider, C Scannell, R Franks, J Sanchez-Gonzalez, M Doneva, C Schuelke, J Meineke, J Keupp, J Smink, M Breeuwer, A Chiribiri, M Henningsson, T Correia. High-Resolution Free-Breathing Quantitative Myocardial Perfusion MRI Using Multi-Echo Dixon. 12th ISMRM Benelux meeting (2020).</p>
            
            <p> Y Yang, F Mo, S Xu, M Dhom, A Pike, T Maeda, M Vaicik, R Furman, T Correia, R Hoshino, K Kawaji. Compressed Sensing MRI Revisited via Mathematics Problem-Solving Principles in BME. Biomedical Engineering Society (BMES) Annual Meeting, P-SAT-242 (2019).</p>
            
            <p> M Dhom, M Davis, A Julian, J Goes, T Correia, M Vaicik, K Kawaji. Two Alternative LED Control System Designs for Pulse Oximetry-based Simulation of the Heart. Biomedical Engineering Society (BMES) Annual Meeting, P-SAT-251 (2019).</p>
            
            <p> J Tourais, T Schneider, X Milidonis, D Higgins, J Scanchez-Gonzalez, G Cruz, C Prieto, C Saunderson, L Brown, S Plein, A Chiribiri, J Smink, T Correia. High-Resolution motion-corrected 2D Myocardial Perfusion MRI using Locally Low Rank and Wavelet Sparsity Constraints. 27th ISMRM meeting, 1238 (2019). <a href="https://cds.ismrm.org/protected/19MPresentations/abstracts/1238.html">ismrm19_1238</a> (ismrm members only)</p>
            
            <p> T Correia, G Ginami, A Bustin, R Neji, R Botnar, C Prieto. XD-ORCCA for BOOST: accelerated motion-compensated simultaneous bright- and black-blood 3D whole-heart coronary MRI. 27th ISMRM meeting, 460 (2019). <a href="https://cds.ismrm.org/protected/19MPresentations/abstracts/0460.html">ismrm19_460</a> (ismrm members only) </p>
            
            <p> T Correia, I Rashid, G Ginami, T Ismail, R Neji, R Botnar, C Prieto. Simultaneous High-resolution 3D Whole-heart Bright-Blood Coronary Angiography and Black-Blood Late Gadolinium Enhancement (LGE). 27th ISMRM meeting, 2040 (2019). <a href="https://cds.ismrm.org/protected/19MPresentations/abstracts/2040.html">ismrm19_2040</a> (ismrm members only) </p>
            
            <p> T Kuestner, A Bustin, G Cruz, T Correia, G Ginami, R Neji, R Botnar, C Prieto. 3D Cartesian Free-running Cardiac and Respiratory Resolved Whole-heart MRI. 27th ISMRM meeting, 2192 (2019). <a href="https://cds.ismrm.org/protected/19MPresentations/abstracts/2192.html">ismrm19_2192</a> (ismrm members only)</p>
            
            <p> I Rashid, A Bustin, T Correia, G Ginami, R Neji, K Kunze, T Ismail, R Rajani, C Prieto, R Botnar. Sub-millimeter, Non-contrast 3D Coronary MRA for Assessment of Arterial Stenosis: Initial Clinical Experience and Comparison with Coronary CT Angiography. 27th ISMRM meeting, 976 (2019). <a href="https://cds.ismrm.org/protected/19MPresentations/abstracts/0976.html">ismrm19_976</a> (ismrm members only) </p>
            
            <p> A Gaspar, A Bustin, K Kunze, R Neji, T Correia, N Silva, R Nunes, R Botnar, C Prieto. Accelerated Carotid 4D flow MRI with Multicontrast HD-PROST Reconstruction. 27th ISMRM meeting, 1963 (2019). <a href="https://cds.ismrm.org/protected/19MPresentations/abstracts/1963.html">ismrm19_1963</a> (ismrm members only)</p>
            
            <p> A Bustin, T Correia, I Rashid, G Cruz, R Neji, R Botnar, C Prieto. Highly Accelerated 3D Whole-Heart Isotropic Sub-Millimeter CMRA with Non-Rigid Motion Correction. 27th ISMRM meeting, 2205 (2019). <a href="https://cds.ismrm.org/protected/19MPresentations/abstracts/0978.html">ismrm19_978</a> (ismrm members only)</p>
            
            <p> C Munoz, R Neji, K Kunze, T Correia, C Forman, M Schmidt, I Rashid, R Botnar, C Prieto. Motion-Compensated 3D Whole-heart Water-Fat Late Gadolinium Enhancement Imaging for Assessment of Myocardial Viability. 27th ISMRM meeting, 420 (2019). <a href="https://cds.ismrm.org/protected/19MPresentations/abstracts/0782.html">ismrm19_782</a> (ismrm members only)</p>
            
            <p> J Tourais, T Schneider, X Milidonis, D Higgins, J Sanchez-Gonzalez, G Cruz, C Prieto, C Saunderson, L Brown, S Plein, A Chiribiri, J Smink, T Correia. High-Resolution motion-corrected 2D Myocardial Perfusion MRI using Locally Low Rank and Wavelet Sparsity Constraints. ISMRM Benelux meeting (2019).</p>
            
            <p> A Bustin, T Correia, I Rashid, G Cruz, R Neji, R Botnar, C Prieto. Isotropic sub-millimetre CMRA: combining high undersampling with non-rigid motion correction. 22nd SCMR meeting, 549747 (2019). <a href="https://drive.google.com/file/d/1aRfNF3Omng2H5dRa1R9WxDH0h-coCYKx/view">download conference proceedings</a> (large file)</p>
            
            <p> T Correia, I Rashid, G Ginami, R Neji, R Botnar, C Prieto. Simultaneous 3D Whole-heart High-resolution Black-blood LGE and Coronary Angiography Imaging. 22nd SCMR meeting, 551428 (2019). <a href="https://drive.google.com/file/d/1aRfNF3Omng2H5dRa1R9WxDH0h-coCYKx/view">download conference proceedings</a> (large file)</p>
            
            <p> G Nordio, T Schneider, G Cruz, T Correia, A Bustin, C Prieto, R Botnar, M Henningsson. 3D myocardial T1 mapping combined with a 2D fat image navigator. 22nd SCMR meeting, 547215 (2019). <a href="https://drive.google.com/file/d/1aRfNF3Omng2H5dRa1R9WxDH0h-coCYKx/view">download conference proceedings</a> (large file)</p>
            
            <p> T Kuestner, A Bustin, G Cruz, T Correia, G Ginami, R Neji, R Botnar, C Prieto. Towards 3D Cartesian isotropic free-running cardiac and respiratory resolved whole-heart MRI. 22nd SCMR meeting, 549855 (2019). <a href="https://drive.google.com/file/d/1aRfNF3Omng2H5dRa1R9WxDH0h-coCYKx/view">download conference proceedings</a> (large file)</p>
            
            <p> S Davis, S Kumar, L Wisniewski, M Ramel, L Bugeon, T Correia, M Dallman, S Arridge, P Frankel, J McGinty, P French. Exploiting patterned illumination and detection in optical projection tomography. Proc. SPIE BIOS 10883, Three-Dimensional and Multidimensional Microscopy: Image Acquisition and Processing XXVI, 108830M (2019). <a href="https://doi.org/10.1117/12.2508653">https://doi.org/10.1117/12.2508653</a></p>            </p>
            
            <p> T Correia, I Rashid, G Ginami, G Cruz, R Neji, R Botnar, C Prieto. Respiratory-resolved motion-compensated 3D Cartesian Coronary MR angiography. BC-ISMRM meeting, O26 (2018). </p>
            
            <p> T Correia, I Rashid, G Ginami, G Cruz, R Neji, R Botnar, C Prieto. XD-ORCCA: Optimized respiratory-resolved 3D Cartesian coronary MRA. Society for Magnetic Resonance Angiography, 30th SMRA meeting, A33, (2018). <a href="https://society4mra.org/?wpdmdl=2662">download conference proceedings</a></p>

            <p> T Correia, G Ginami, G Cruz, R Neji, I Rashid, R Botnar, C Prieto. Assessment of respiratory motion-resolved and nonrigid motion-corrected 3D Cartesian coronary MRA. Joint ISMRM-ESMRMB meeting, 473 (2018). <a href="https://cds.ismrm.org/protected/18MProceedings/PDFfiles/0473.html">ismrm18_473</a> (ismrm members only)</p>    
            
            <p> T Correia, G Ginami, R Neji, G Cruz, R Botnar and C Prieto. Optimized respiratory-resolved motion-compensated 3D Cartesian coronary MRA. Joint ISMRM-ESMRMB meeting, 772 (2018). <a href="https://cds.ismrm.org/protected/18MProceedings/PDFfiles/0772.html">ismrm18_772</a> (ismrm members only)</p>
            
            <p> A Bustin, G Ginami, I Rashid, T Correia, T Ismail, R Neji, R Botnar, C Prieto. 3D-Patch-Based Low-Rank Reconstruction (PROST) for Highly-Accelerated CMRA Acquisition. Joint ISMRM-ESMRMB meeting, 242 (2018). <a href="https://cds.ismrm.org/protected/18MProceedings/PDFfiles/0242.html">ismrm18_242</a> (ismrm members only)</p>
            
            <p> A Bustin, G Ginami, T Correia, T Ismail, R Neji, R Botnar, C Prieto. Whole-heart coronary MRA with sub-millimeter isotropic resolution in four-minute acquisition. Joint ISMRM-ESMRMB meeting, 918 (2018). <a href="https://cds.ismrm.org/protected/18MProceedings/PDFfiles/0918.html">ismrm18_918</a> (ismrm members only)</p>
            
            <p> G Nordio, T Schneider, G Cruz, T Correia, C Prieto, R Botnar and M Henningsson. 3D myocardial T1 mapping combined with a 2D fat image navigator for respiratory motion correction. Joint ISMRM-ESMRMB meeting, 4901 (2018). <a href="https://cds.ismrm.org/protected/18MProceedings/PDFfiles/4901.html">ismrm18_4901</a> (ismrm members only)</p>
            
            <p> A Bustin, G Ginami, I Rashid, T Correia, T Ismail, R Neji, R Botnar, C Prieto. Highly-accelerated whole-heart 3D CMRA with sub-millimeter isotropic resolution and 3D-PROST reconstruction. BC-ISMRM meeting (2018).</p>
            
            <p> T Correia, G Cruz, C Escobar, R Botnar and C Prieto. Accelerated motion compensated isotropic 3D coronary MRA using variable density Cartesian sampling. 25th ISMRM meeting, 1022 (2017). <a href="https://cds.ismrm.org/protected/17MProceedings/PDFfiles/1022.html">ismrm17_1022</a> (ismrm members only)</p>
            
            <p> T Correia, G Cruz, R Botnar and C Prieto. Accelerated 3D coronary MRA using non-rigid motion corrected regularized reconstruction. 24th ISMRM meeting, 4243 (2016). <a href="https://cds.ismrm.org/protected/16MPresentations/abstracts/4243.html">ismrm16_4243</a> (ismrm members only)</p>
            
            <p> S Kumar, N Lockwood, M Ramel, T Correia, M Ellis, Y Alexandrov, N Andrews, L Bugeon, M Dallman, S Brandner, S Arridge, M Katan, J McGinty, P Frankel, P French. In vivo multiplexed OPT and FLIM OPT of an adult zebrafish cancer disease model. in <em>Biomedical Optics</em> 2016, OSA Technical Digest  (Optical Society of America), paper CTu4A.2 (2016). <a href="https://doi.org/10.1364/CANCER.2016.CTu4A.2">https://doi.org/10.1364/CANCER.2016.CTu4A.2</a></p>            </p>
            
            <p> S Kumar, N Lockwood, N Andrews, T Correia, M Ramel, Y Alexandrov, M Katan, L Bugeon, M Dallman, S Arridge, P Frankel, J McGinty, P French. Rapid in-vivo Optical Projection Tomography of Larval and Adult Zebrafish Disease Models with Angular Multiplexing and FLIM-FRET. in <em>Optics in the Life Sciences</em>, OSA Technical Digest (Optical Society of America), paper OT2D.2 (2015). <a href="https://doi.org/10.1364/BODA.2015.OT2D.2">https://doi.org/10.1364/BODA.2015.OT2D.2</a></p>            </p>
            
            <p> M Ramel, N Andrews, N Lockwood, S Kumar, A Frolov, T Correia, L Bugeon, S Arridge, M Katan, J Mcginty, P French, P Frankel, M Dallman. Development Of Biosensor Transgenic Lines To Monitor Inflammation, Apoptosis, And Carcinogenesis In Live Zebrafish Using Confocal-FLIM And OPT-FLIM. European Zebrafish meeting, P1-085 (2015).</p>
            
            <p> N Lockwood, S Kumar, T Correia, M Ramel, N Andrews, L Bugeon, M Dallman, J McGinty, S Arridge, P French, P Frankel. Global Imaging Of Pathophysiological Angiogenesis In Adult Zebrafish Using Optical Projection Tomography. European Zebrafish meeting, O-V-3 (2015).</p>
            
            <p> J Robertson, A Gosh, T Correia, D Highton, M Smith, C Elwell,T Leung. Effect of Blood in the Cerebrospinal Fluid on the Accuracy of Cerebral Oxygenation Measured by Near Infrared Spectroscopy. In: Swartz H.M., Harrison D.K., Bruley D.F. (eds) Oxygen Transport to Tissue XXXVI. <em>Advances in Experimental Medicine and Biology</em>, vol 812. Springer, New York, NY (2014). <a href="https://doi.org/10.1007/978-1-4939-0620-8_31">https://doi.org/10.1007/978-1-4939-0620-8_31</a></p>            </p>
            
            <p> T Correia, T Rudge, S Arridge. Efficient image reconstruction in fluorescence diffuse optical tomography (fDOT) using data and solution compression. in Diffuse Optical Imaging IV, P. Taroni and H. Dehghani, eds., Vol. 8799 of SPIE Proceedings (Optical Society of America), paper 87990H (2013). <a href="https://doi.org/10.1117/12.2032548">https://doi.org/10.1117/12.2032548</a></p>            </p>
            
            <p>Papademetriou MD, Richards J, Correia T <em>et al</em>. Cortical Mapping of 3D Optical Topography in Infants. In: Van Huffel S., Naulaers G., Caicedo A., Bruley D.F., Harrison D.K. (eds) Oxygen Transport to Tissue XXXV. <em>Advances in Experimental Medicine and Biology</em>, vol 789. Springer, New York, NY (2013). <a href="https://doi.org/10.1007/978-1-4614-7411-1_61">https://doi.org/10.1007/978-1-4614-7411-1_61</a></p>

            <p> J Chamorro, JF Abascal, J Aguirre, S Arridge, T Correia, J Ripoll, M Desco, JJ Vaquero. ART with Split Bregman Denoising: a Reconstruction Method for Fluorescence Diffuse Optical Tomography. IEEE Nuclear Science Symposium and Medical Imaging Conference, 268 (2011).</p>
            
            <p> T Correia, A Gibson, J Hebden. Identification of the optimal wavelengths in optical topography using photon density measurement functions.&nbsp;Proc. SPIE 7187, Biomedical Applications of Light Scattering III, 718718 (2009). <a href="https://doi.org/10.1117/12.809295">&nbsp;https://doi.org/10.1117/12.809295</a></p>

            <p> T Correia, A Gibson, J Hebden. Optimal Selection of the Regularization Parameter for Optical Topography Image Reconstruction.&nbsp;in&nbsp;<em>Biomedical Optics</em>, OSA Technical Digest (CD) (Optical Society of America), paper BSuE49 (2008).<a href="https://doi.org/10.1364/BIOMED.2008.BSuE49">https://doi.org/10.1364/BIOMED.2008.BSuE49</a></p>        
            <br/>
        </div>
  </div>
</section>
