<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#research">Research</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#publications">Publications</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; QBI All Rights Reserved</p>
            </div>
            <div class="col-md-6"></div>
                Quantitative Bio-Imaging Lab @CCMAR, Gambelas Campus, University of Algarve, 8005-139 Faro, Portugal </p> 
                🗺️ <a href="https://goo.gl/maps/qBZkzfLUdkqQ5XaF6"> MAP </a>
            </div>
        </div>
    </div>
</footer>
